services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    environment:
      QDRANT__SERVICE__GRPC_PORT: 6334
      QDRANT__SERVICE__HTTP_PORT: 6333
      QDRANT__DASHBOARD__ENABLED: "true"
      QDRANT__SERVICE__API_KEY: "wkSqf2U9sOchv1cZ6LksaUZATaeH9EZyBrqMGfMR8sV0tlus6rJ5tshBRC1SiWPj"
    ports:
      - "6333:6333"
      # - "8080:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage:
    name: qdrant_storage

