# Appwrite (FastAPI backend)
APPWRITE_ENDPOINT=

# CloneAI
APPWRITE_PROJECT=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_COLLECTION_ID=

# =========================
# Worldclock (Appwrite, FastAPI)
# =========================
APPWRITE_WORLDCLOCK_ENDPOINT=
APPWRITE_WORLDCLOCK_PROJECT=
APPWRITE_WORLDCLOCK_ADMIN_API_KEY=

# Database and Collection for countries
APPWRITE_WORLDCLOCK_DB_ID=
APPWRITE_WORLDCLOCK_COLL_ID=


# Frontend (Next.js)
NEXT_PUBLIC_API_BASE=http://localhost:8000